.logo{
    width: 17%;
    cursor: pointer;
    height: 16vh;
}

.top{
    display: flex;
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 16vh;
    z-index: 3;
}

.top .search{
    padding: 2% 5%;
    width: 40%;
}

.top .search ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    padding-top: 5%;
}

.top .search ul a {
    color: #000;
    text-decoration: none;
    
}

.top .search ul .btn:hover{
    color:rgb(207, 49, 22);
}

.search .login .dropdown-menu{
    display: none;
    padding-left: -15%;
}

.search .admission .dropdown-menu{
    display: none;
}


.search .dropdown-menu .login-form{
    width: 270%;
    background-color: #fff;
    margin: 5%;
    height: 65vh;
    margin-top: 8%;
}

.search .login .form-outline{
    margin-top: 10%;
}

.search .tab-pane{
    height: 65vh;
}

.search .tab-pane input {
    margin-top: -40px;
}

.search .tab-pane .form-check-input{
    margin-top:8px ;
}

nav{
    width: 45%;
    margin-left: 4%;
    margin-top: 5%;
}

nav .btn{
    font-size: 1.1rem;
}

nav .btn:hover{
    cursor: pointer;
    color: darkgreen;
    transition: all 0.3s ease-in-out;
    transform: scale(0.95);
    background-color: cyan;
    font-weight: 400;
    box-shadow: 0 0 5px cyan,0 0 5px cyan,0 0 20px cyan, 0 0 30px cyan, 0 0 150px cyan;
}


.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }


nav .dropdown-items{
    width: 85%;
    position: absolute;
    z-index: 1;
    margin-left: 2%;
    margin-bottom: 8%;
    display: flex;
    justify-content: space-between;

}

nav .dropdown-items:hover{
    box-shadow: 0px 4px 7px #4b777c ;
}

nav .dropdown .icon{
    width: 70%;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

nav .dropdown .icon:hover{
    color:brown;
    width:100%;
}

#carousel{
    height: 66vh;
    background-color: darkslategray;
    z-index: -2;
}



#carouselExampleCaptions{
    margin-top: 17vh;
    background-color: darkslategrey;
    height: 70vh;
    width: 100%;
    z-index: 1;
    background-image: url("images/2-Academic_Building.png");
}

.carousel-item .d-block1{
    width: 22.5%;
    margin-top: 40px;
    margin-left: 15%;
    box-shadow: 0 0 15px #fff;
    transition: all .3s ease-in-out;
}

.carousel-item .d-block2{
    width: 26%;
    margin-top: 30px;
    margin-left: 15%;
    box-shadow: 0 0 15px #fff;
    transition: all .3s ease-in-out;
}

.carousel-item .d-block1:hover{
    transform: scale(1.2);
}

.carousel-item .d-block2:hover{
    transform: scale(1.1);
}

.about-slide1{
    width: 50%;
    float: right;
    margin: 4% 5% 0% 4%;
    justify-content: left;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.4rem;
    box-shadow: 0 0 40px #000;
    transition: all .3s ease-in-out;
}

.about-slide1:hover{
    transform: scale(1.2);
}


.carousel-caption{
    margin: 2% 5% 5% 5%;
}

#aboutus{
    width: 100%;
    height: 194vh;
    background-color:#277191;
}

.about-us .best{
    padding: 3.5% 5% 3% 5%;
    font-size: 2.5rem;
    color: #1a1d23;
}

.timeline{
    position: relative;
    width: 100%;
    margin: 10px auto;
}

.about-us .container{
    padding: 10px 50px ;
    position: relative;
    width: 50%;
    animation: movedown 1.2s linear backwards;
    animation-delay: 5s;
}


@keyframes movedown{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 2s;
}
.container:nth-child(3){
    animation-delay: 4s;
}
.container:nth-child(4){
    animation-delay: 6s;
}

.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    background-color: #2e364a;
    color: #fff;
}

.text-box:hover{
    box-shadow:  0 0 50px #2e364a, 0 0 20px #2e364a, 0 0 30px #2e364a, 0 0 45px #2e364a;
    transition: all .3s ease-in-out;
    transform: scale(1.1)
}

.about-us .left-container{
    left: -25%;
}

.about-us .right-container{
    left: 25%;
}

.container .img{
    position: absolute;
    width: 40px;
    top: 32px;
    right: -35px;
    top: 32px;
    z-index: 2;
    color: #2e364a;;
}

.about-us .right-container .img{
    left: -5px;
}

.about-us .timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #2e364a;;
    top: 0;
    left: 10%;
    margin-left: 40%;
    z-index: 0;
    animation: moveline 8s linear infinite;
}

@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}


.text-box h2{
    font-weight: 600;
}



.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #2e364a;;
    right: -14px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #2e364a;;
    left: -14px;
}

.admission1{

    background-color: #2e364a;;
}

.admission1 h3{
    color: #fff;
    width: 24%;
    margin: 2% 0 0 5%;
    font-size: 1.8rem;
    border-bottom: 2px solid #fff;
    border-bottom-width: 40%;
    
}

.admission1 .card{
    margin: 2% 1.5% 0 5%;
    background-color: #2e364a;
    outline: none;
    border: none;
}

.admission1 .card{
    padding: 10px 40px ;
    position: relative;
    width: 50%;
    animation: moveright 1.2s linear backwards;
}

 
@keyframes moveright{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

.card:nth-child(1){
    animation-delay: 0s;
}
.card:nth-child(2){
    animation-delay: 1s;
}
.card:nth-child(3){
    animation-delay: 2s;
}



.admission1 .card:hover{
    transition: all 1s ease-in-out;
    transform: scale(.9);
}

.admission1 .card-img2{
    width: 130%;
}

.admission1 .card-img3{
    width: 113%;
    margin-left: 15%;
}

.admission1 .card-img2:hover{
    
    transform: scaleX(-1) rotate(360deg);
}

.admission1 .card-img:hover{
    transform: scaleX(-1) rotate(360deg);
}

.admission1 .card-img3:hover{
    transform: scaleX(-1) rotate(360deg);
}


.admission1 .btn{
    width: 100%;
    margin-left: 12%;
    outline: 2px solid #fff;
    color: #fff;
}

#footer{
    height: 77vh;
    width: 100%;
    background-color: rgb(30, 26, 26);
    color: #fff;
}

.footer-info{
    display: flex;
}

.about-academy{
    width: 30%;
    justify-content: center;
    margin: 5% 2% 5% 5% ;
}


.quick-links{
    width: 30%;
    margin: 30% 2% 5% 0;
}

.quick-links ul{
    list-style-type: none;
    justify-content: space-between;
}

.contact-us{
    width: 25%;
    margin: 10% 3% 5% 0;
}

.download-button {
    margin: 20% 3% 5% 15%;
    width: 40%;

}

.download-button .btn{
    box-shadow: 0 0 5px cyan,0 0 5px cyan,0 0 20px cyan, 0 0 30px cyan, 0 0 150px cyan;
    width: 100%;
}

.media h2{
    justify-content: center;
    font-size: 1.5rem;
}

.footer-info .contact-information{
    margin: 0 -20% 0 25%;
}

.media ul {
    justify-content: center;
    list-style-type: none;
    display: flex;
}

.media ul a{
    color:cadetblue;
    cursor: pointer;

}

.media ul li{
    margin: 20px;
    text-align:center ;
    font-size: 1.4rem;
    cursor: pointer;
}

.links{
    display: flex;
}



@media screen and (min-width:300px) and (max-width:500px){
    .top{
        display: block;
        height: 35vh;
        top: 0;
        position: fixed;
    }

    .top .logo{
        width: 50%;
    }
    .top .search{
        margin: -34% 0 0 22%;
        width: 60%;
    }
    .top .search ul {
        display:flex;
        flex-direction: row-reverse;

    }
    nav{
        position: relative;
        margin: 22% 0 0 0;
        width: 80%;
    }

    nav .dropdown{
        width: 100%;
        font-size: 0.5rem;
    }

    #carouselExampleCaptions{
        width: 100%;
        background-size: cover;
        margin-top: 35vh;
        display: block;
        background-image: url("images/2-Academic_Building.png");
        background-position: right;
    
    }

    .carousel-item .d-block1 {
        width: 55%;
        margin: 12% 0 0 28%;
    }

    .carousel-item .d-block2{
        width: 68%;
        margin: 12% 0 0 20%;
    }

    #aboutus{
        height: fit-content;
        position: relative;
    }
    .about-us .best{
        margin: 18% 0 0 10%;
    }
    .about-us .container{
        width: 110%;
        left: -15%;
        z-index: 2;
        margin: 0;
    }
    .about-us .timeline::after{
        animation: none; 
        background: none;   
    }

    .admission1 .card-img2{
        width:110%;
    }

    #footer{
        height: 120vh;
    }
    .footer-info{
        display: contents;
    }
    .about-academy{
        width: 100%;
    }

    .links{
        display: flex;
    }

    .download-button{
        margin: 15px 0 0 13%;
        width: 60%;
    }

    .media ul {
        margin: -5% 0 0 15%;
    }
    .contact-us{
        display: flex;
    }

    .contact-us .adress{
        margin-left: 25px;
    }
}

@media screen and (min-width:501px) and (max-width:610px){
    .top{
        display: block;
        height: 27vh;
        top: 0;
        position: fixed;
    }

    .top .logo{
        width: 50%;
    }
    .top .search{
        margin: -30% 0 0 44%;
        width: 60%;
    }
    .top .search ul {
        display:flex;
        flex-direction: row-reverse;

    }
    nav{
        position: absolute;
        margin: 12% 0 0 0;
        width: 100%;
    }

    nav .dropdown{
        width: 100%;
        font-size: 0.5rem;
    }

    #carouselExampleCaptions{
        width: 100%;
        background-size: cover;
        margin-top: 27vh;
        display: block;
        background-image: url("images/2-Academic_Building.png");
        background-position: right;
    
    }

    .carousel-item .d-block1 {
        width: 55%;
        margin: 12% 0 0 28%;
    }

    .carousel-item .d-block2{
        width: 68%;
        margin: 12% 0 0 20%;
    }

    #aboutus{
        height: fit-content;
        position: relative;
    }
    .about-us .best{
        margin: 5% 0 0 10%;
    }
    .about-us .container{
        width: 110%;
        left: -5%;
        z-index: 2;
        margin: 0;
    }
    .about-us .timeline::after{
        animation: none; 
        background: none;   
    }

    #footer{
        height: 120vh;
    }
    .footer-info{
        display: contents;
    }
    .about-academy{
        width: 100%;
    }

    .links{
        display: flex;
    }

    .download-button{
        margin: 15px 0 0 18%;
        width: 100%;
    }

    .media ul {
        margin: -5% 0 0 15%;
    }
    .contact-us{
        display: flex;
    }

    .contact-us .adress{
        margin-left: 25px;
    }
}

@media screen and (min-width:611px) and (max-width:730px){
    .top{
        display: block;
        height: 27vh;
        top: 0;
        position: fixed;
    }

    .top .logo{
        width: 50%;
    }
    .top .search{
        margin: -26% 0 0 44%;
        width: 60%;
    }
    .top .search ul {
        display:flex;
        flex-direction: row-reverse;

    }
    nav{
        position: absolute;
        margin: 8% 0 0 0;
        width: 100%;
    }
    

    nav .dropdown{
        width: 100%;
        font-size: 0.5rem;
    }

    #carouselExampleCaptions{
        width: 100%;
        background-size: cover;
        margin-top: 27vh;
        display: block;
        background-image: url("images/2-Academic_Building.png");
        background-position: right;
    
    }

    .carousel-item .d-block1 {
        width: 40%;
        margin: 12% 0 0 28%;
    }

    .carousel-item .d-block2{
        width: 50%;
        margin: 12% 0 0 20%;
    }

    #aboutus{
        height: fit-content;
        position: relative;
    }
    .about-us .best{
        margin: 5% 0 0 10%;
    }
    .about-us .container{
        width: 110%;
        left: -5%;
        z-index: 2;
        margin: 0;
    }

    .about-us .right-container{
        margin-left: 30%;
    }
    .about-us .timeline::after{
        animation: none; 
        background: none;   
    }

    #footer{
        height: 120vh;
    }
    .footer-info{
        display: contents;
    }
    .about-academy{
        width: 100%;
    }

    .links{
        display: flex;
    }

    .download-button{
        margin: 15px 0 0 18%;
        width: 100%;
    }

    .download-button .btn{
        width: 60%;
    }

    .media ul {
        margin: -5% 0 0 15%;
    }
    .contact-us{
        display: flex;
    }

    .contact-us .adress{
        margin-left: 25px;
    }
}

@media screen and (min-width:731px) and (max-width:999px){
    .top{
        display: block;
        height: 27vh;
        top: 0;
        position: fixed;
    }

    .top .logo{
        width: 40%;
    }
    .top .search{
        margin: -22% 0 0 44%;
        width: 60%;
    }
    .top .search ul {
        display:flex;
        flex-direction: row-reverse;

    }
    nav{
        position: absolute;
        margin: 8% 0 0 0;
        width: 100%;
    }
    

    nav .dropdown{
        width: 100%;
        font-size: 0.5rem;
    }

    #carouselExampleCaptions{
        width: 100%;
        background-size: cover;
        margin-top: 27vh;
        display: block;
        background-image: url("images/2-Academic_Building.png");
        background-position: right;
    
    }

    .carousel-item .d-block1 {
        width: 40%;
        margin: 6% 0 0 4%;
    }

    .carousel-item .d-block2{
        width: 40%;
        margin: 6% 0 0 4%;
    }

    .about-slide2 {
        margin-left: 10%;
        margin-top: 10%;
    }

    #aboutus{
        height: fit-content;
        position: relative;
    }
    .about-us .best{
        margin: 5% 0 0 10%;
    }
    .about-us .container{
        width: 110%;
        left: -5%;
        z-index: 2;
        margin: 0;
    }

    .about-us .right-container{
        margin-left: 10%;
    }
    .about-us .timeline::after{
        animation: none; 
        background: none;   
    }

    #footer{
        height: 120vh;
    }
    .footer-info{
        display: contents;
    }
    .about-academy{
        width: 100%;
    }

    .links{
        display: flex;
    }

    .download-button{
        margin: 15px 0 0 18%;
        width: 100%;
    }

    .download-button .btn{
        width: 60%;
    }

    .media ul {
        margin: -5% 0 0 15%;
    }
    .contact-us{
        display: flex;
    }

    .contact-us .adress{
        margin-left: 25px;
    }
}
@media screen and (min-width:1000px) and (max-width:1280px){
    .top{
        display: block;
        height: 27vh;
        top: 0;
        position: fixed;
    }

    .top .logo{
        width: 25%;
    }
    .top .search{
        margin: -18% 0 0 44%;
        width: 60%;
    }
    .top .search ul {
        display:flex;
        flex-direction: row-reverse;

    }
    nav{
        position: absolute;
        margin: 8% 0 0 0;
        width: 55%;
    }
    

    nav .dropdown{
        width: 100%;
        font-size: 0.5rem;
    }

    #carouselExampleCaptions{
        width: 100%;
        background-size: cover;
        margin-top: 27vh;
        display: block;
        background-image: url("images/2-Academic_Building.png");
        background-position: right;
    
    }

    .carousel-item .d-block1 {
        width: 25%;
        margin: 6% 0 0 4%;
    }

    .carousel-item .d-block2{
        width: 25%;
        margin: 6% 0 0 4%;
    }

    .about-slide2 {
        margin-left: 10%;
        margin-top: 10%;
    }

    #aboutus{
        height: fit-content;
        position: relative;
    }
    .about-us .best{
        margin: 5% 0 0 10%;
    }
    .about-us .container{
        width: 110%;
        left: -5%;
        z-index: 2;
        margin: 0;
    }

    .about-us .right-container{
        margin-left: 10%;
    }
    .about-us .timeline::after{
        animation: none; 
        background: none;   
    }

    .admission1{
        height: 100vh;
    }

    #footer{
        height: 120vh;
    }
    .footer-info{
        display: contents;
    }
    .about-academy{
        width: 100%;
    }

    .links{
        display: flex;
    }

    .download-button{
        margin: 15px 0 0 18%;
        width: 100%;
    }

    .download-button .btn{
        width: 40%;
    }

    .media ul {
        margin: -5% 0 0 15%;
    }
    .contact-us{
        display: flex;
    }

    .contact-us .adress{
        margin-left: 25px;
    }
}

